*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Process section */
.process__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.process:nth-child(even) .process__container {
  flex-direction: row-reverse;
}
/* End of Process section */

/* .box {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#webDevelopment {
  background-color: red;
}

#telegramBot {
  background-color: green;
}

#smm {
  background-color: lightcoral;
}

#graphicDesign {
  background-color: blue;
}

#CRMsystems {
  background-color: blueviolet;
} */