/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap'); */

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"),
    url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Light.woff2") format("woff2"),
    url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"),
    url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
    url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  margin: 40px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  border: 1px solid blue;
}

.btn {
  /* opacity: 0.1; */
  color: #458ff6;
  font-weight: 700;
  text-decoration: none;
  border: 1.5px solid #458ff6;
  padding: 18px 65px;
  border-radius: 55px;
  transition: all 0.3s ease;
}

.btn:hover {
  /* opacity: 0.5; */
  color: #fff;
  background-color: #458ff6;
}

/* Articles section */
.articles__list {
  /* height: 500px; */
  list-style: none;
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.articles__list-item {
  width: 350px;
  border: 1px solid red;
}

.article__img {
  width: 100%;
}

.article__info-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.article__info-description {
  /* word-spacing: 10px; */
  /* line-height: 30px; */
  /* letter-spacing: 10px; */
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  /* text-transform: capitalize; */
}

/* .article-1 {
  order: 1;
}

.article-2 {
  order: 3;
}

.article-3 {
  order: 2;
} */
/* End of Articles section */
