body {
  background-color: black;
}

.header {
  padding-top: 53px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  display: block;
}

.header__list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 100px;
  list-style: none;
}

.header__list-item a {
  color: $white;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;

  &:hover {
    color: $orange;
  }
}

.header__cta {
  @include button($black, $orange, $orange);
}

@media (max-width: 525px) {
  .header__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 130px 0 0 20px;
    background-color: $white;
  }

  .header__list-item a {
    color: $black;
  }

  .header__cta {
    display: none;
  }
}

@media (min-width: 526px) and (max-width: 860px) {
  .header__list {
    padding-right: 0;
  }

  .header__cta {
    display: none;
  }
}
