.hero {
  padding: 342px 0 140px 0;
  background-image: url(../../images/sartarosh.png), url(../images/hero__bg.jpeg);
  background-repeat: no-repeat;
  background-size: 720px 625px, cover;
  background-position: right bottom;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 106.5%;
  color: $orange;
}

.hero__container .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 94.5%;
  color: $white;
  max-width: 513px;
  margin: 22px 0;
}

.hero__container .info {
  max-width: 350px;
  color: $grey;
  font-weight: 400;
  font-size: 21px;
  line-height: 106.5%;
}

.hero__container .hero__btns {
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.cta__btn {
  @include button($black, $orange, $orange);
  padding: 18px 53px;
}

.service__btn {
  @include button($white, transparent, $white);
  padding: 18px 53px;
}
