body {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 106.5%;
  color: #fbb034;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 94.5%;
  color: #fff;
  max-width: 513px;
  margin: 22px 0;
}

.info {
  max-width: 350px;
  color: #b8b8b8;
  font-weight: 400;
  font-size: 21px;
  line-height: 106.5%;
}

.header {
  padding-top: 53px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  display: block;
}

.header__list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 100px;
  list-style: none;
}

.header__list-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}
.header__list-item a:hover {
  color: #fbb034;
}

.header__cta {
  padding: 18px 0;
  min-width: 182px;
  color: #000;
  background-color: #fbb034;
  border: 1px solid #fbb034;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease;
}
.header__cta:hover {
  background-color: #000;
  color: #fbb034;
}

@media (max-width: 525px) {
  .header__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 130px 0 0 20px;
    background-color: #fff;
  }
  .header__list-item a {
    color: #000;
  }
  .header__cta {
    display: none;
  }
}
@media (min-width: 526px) and (max-width: 860px) {
  .header__list {
    padding-right: 0;
  }
  .header__cta {
    display: none;
  }
}
.hero {
  padding: 342px 0 140px 0;
  background-image: url(../../images/sartarosh.png), url(../images/hero__bg.jpeg);
  background-repeat: no-repeat;
  background-size: 720px 625px, cover;
  background-position: right bottom;
}

.hero__container .hero__btns {
  display: flex;
  gap: 40px;
  margin-top: 80px;
}

.cta__btn {
  padding: 18px 0;
  min-width: 182px;
  color: #000;
  background-color: #fbb034;
  border: 1px solid #fbb034;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease;
  padding: 18px 53px;
}
.cta__btn:hover {
  background-color: #000;
  color: #fbb034;
}

.service__btn {
  padding: 18px 0;
  min-width: 182px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease;
  padding: 18px 53px;
}
.service__btn:hover {
  background-color: #fff;
  color: transparent;
}

@media (max-width: 525px) {
  .hero {
    padding-top: 140px;
  }
  .hero__container .title {
    font-size: 30px;
  }
  .hero__btns {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .hero {
    background-image: url(../../images/hero__bg.jpeg);
    background-size: cover;
    background-position: unset;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__container .title,
.info {
    text-align: center;
  }
}
.aboutUs {
  padding: 100px 0;
  background-image: url(../../images/aboutUs_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 153px;
}

.aboutUs__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-dark {
  color: #000;
}

.aboutUs__container .cta__btn {
  margin-top: 43px;
}

@media (max-width: 890px) {
  .aboutUs__container {
    flex-direction: column;
  }
  .aboutUs__img img {
    width: 100%;
  }
  .aboutUs__content {
    align-items: center;
  }
  .aboutUs__content .title, .aboutUs__content-info {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .aboutUs__container {
    gap: 50px;
  }
}/*# sourceMappingURL=main.css.map */